<nav class="navbar navbar-light">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
  <div class="col-9">
      <router-outlet></router-outlet>
  </div>
  <div class="col-3 border p-3 rounded bg-light">
    <h6>chat liste</h6>
    <h6>velg assistent</h6>
  </div>
</div>

<div class="row mb-4 mt-2 p-2">
  <p class="m-4 p-2">Utviklet av AI Assist Team</p>
</div>

