**/secrets.ts
**/firebase-admin-key.json
**/.angular/
**/dist/
**/lib/
**/node_modules/
node_modules/

**/.firebase/*.cache
**/firebase-debug.log
**/package-lock.json
/admin-service/src/shared-backend/
/shared-backend/src/shared-library/
