<div class="container">
  <h5>Personal informations</h5>
  <div *ngIf="!loading && user">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div *ngFor="let field of mainFields" class="form-group">
        <i [class]="field.icon"></i>
        <ng-container *ngIf="field.editing; else viewMainTemplate">
          <input [formControlName]="field.key" [type]="field.type ? field.type : 'text'">
        </ng-container>
        <ng-template #viewMainTemplate>{{ user[field.key] }}</ng-template>
        <button type="button" (click)="toggleEditing(field)" class="edit-button">
          <i class="fas fa-edit"></i>
        </button>
      </div>
      <!-- Address Section -->
      <h5>Address</h5>
      <!-- Other Fields -->
      <div formGroupName="address" *ngFor="let field of addressFields">
        <div class="form-group">
          <i [class]="field.icon"></i>
          <ng-container *ngIf="field.editing; else viewAddressTemplate">
            <input [formControlName]="field.key" [type]="field.type">
          </ng-container>
          <ng-template #viewAddressTemplate>{{ userForm.get('address').get(field.key).value }}</ng-template>
          <button type="button" (click)="toggleEditing(field)" class="edit-button">
            <i class="fas fa-edit"></i>
          </button>
        </div>
      </div>

      <!-- Social Media Handles -->
      <h5>Social Media</h5>
      <div formGroupName="socialMediaHandles" *ngFor="let field of socialFields">
        <div class="form-group">
          <i [class]="field.icon"></i>
          <ng-container *ngIf="field.editing; else viewSocialTemplate">
            <input [formControlName]="field.key" [type]="field.type">
          </ng-container>
          <ng-template #viewSocialTemplate>{{ userForm.get('socialMediaHandles').get(field.key).value }}</ng-template>
          <button type="button" (click)="toggleEditing(field)" class="edit-button">
            <i class="fas fa-edit"></i>
          </button>
        </div>
      </div>

      <button type="submit" [disabled]="userForm.invalid">Save All Changes</button>
    </form>
  </div>
</div>
