<div class="chat-container" >
  <!-- Chat messages -->
  <div class="chat-messages" #scrollMe>
    <div class="row text-normal" *ngFor="let message of chatHistory">
      <div *ngIf="message.type === 'text'">
        <!-- User message -->
        <div class="message user-message" *ngIf="message.role === 'user'">
          {{ message.content }}
        </div>
        <!-- Assistant message -->
        <div class="message assistant-message" *ngIf="message.role !== 'user'">
          <div *ngFor="let paragraph of paragraphs(message.content)">
            {{ paragraph }}
          </div>
        </div>
      </div>
      <!-- Image messages -->
      <div *ngIf="message.type === 'image'">
        <img [src]="message.content" alt="Generated Image" class="generated-image"/>
      </div>
    </div>
  </div>

  <!-- Chat input box (fixed at the bottom) -->
  <div class="chat-input-container" style="    margin-bottom: 40px;">
    <input type="text" class="chat-input" [(ngModel)]="userMessage"
           placeholder="Type a message..." (keyup.enter)="sendMessage()" />
    <button class="send-btn" (click)="sendMessage()">➤</button>
  </div>
</div>
